.nav {
    height: 70px;
    width: 100%;
    background: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

img {
    padding: 10px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav ul li {
    padding: 25px;
}